/* 
- DEFAULT FONT-SIZE IS 16PX
- UNITS DETERMINE THE SIZE OF EVERYTHING IN THE PAGE
- ABSOLUTE LENGTH UNITS: THEY'RE NOT RELATIVE TO ANYTHING ELSE, AND GENERALLY ARE CONSIDERED TO ALWAYS BE THE SAME SIZE
- MOST USED ABSOLUTE LENGTH UNIT: PIXEL
- FOR SETTING THE FONT-SIZE, PREFERABLY WE DO NOT USE PIXELS AND PERCENTAGES TO CHANGE THEIR SIZE
- WE SHOULD NOT SET THE FONT-SIZE ON THE ROOT ELEMENT (HTML SELECTOR) AS PIXEL. IF WE SET THE SIZE, AS USER ENLARGES THE SIZE OF THE FONT IN THE BROWSER SETTING, THE SETTING WON'T GET APPLIED TO THE WEBPAGE
- WE CAN USE PIXELS FOR SETTING THE BORDER SIZE, THIS IS MUCH PREFERRED TO SETTING THE PIXEL FOR FONT-SIZE
- WE USE REM FOR FONT-SIZE, WHICH RELATES TO THE FONT-SIZE OF THE ROOT ELEMENT
*/

* {
  margin :0;
  padding: 0;
  box-sizing: border-box
  /*
  INCLUDING PADDING AND BORDER
  */
}

body {
/* width: 100vw; */
width: 100%;
background-color: #373737;

/* 
- WHEN WE SET THE VIEWPORT WIDTH TO 100 (WIDTH: 100VW), IT DOES NOT ACCOUNT FOR THE SCROLL BAR ON THE RIGHT SIDE
- WHEN THE SCROLL BAR ON THE RIGHT SIDE SHOWS UP AS THE CONTENT GROWS, THE EXTRA BIT THAT WE CANNOT SEE CREATES THE HORIZONTAL SCROLL BAR
- FOR THIS REASON, SETTING WIDTH: 100% IS MUCH MORE DESIRABLE AS IT DOES NOT CREATE A HORIZONTAL SCROLL BAR
*/

min-height: 100vh;
/* 
- MIN-HEIGHT: 100VH SETS A MINIMUM HEIGHT OF THE VIEWPORT, ALLOWING GROWTH
- HEIGHT: 100VH SETS A FIXED HEIGHT EQUAL TO THE VIEWPORT
*/
}

header {
  width: 100%;
  background-color: #999;
}

h1 {
  border: 1px solid #f9f5f5;
  width: 50%;
/* 
 - SETTING THE WIDTH TO 50% IS RELATIVE TO THE PARENT ELEMENT, WHICH IS HEADER IN THIS CASE
*/

  font-size: 3rem;
  padding: 1.2em; 
  color:#fff;
  background-color:#000;
  font-style:italic;
  margin: 20px auto;
  text-align: center;
/* 
- EM UNITS ARE RELATIVE TO THE FONT-SIZE OF THE ELEMENT THEY ARE APPLIED TO
- HERE PADDING WILL BECOME 3 * 1.2 = 3.6REM = 57.6PX, LOOKING AT FONT-SIZE WHICH IS 3REM
*/
}

 main {
  width: 50%;
  margin: 1rem auto;
  /* width: 50vw; */
/*
- THIS CREATES EXTRA SPACE AND SURPASSES 50% OF THE PAGE
- WIDTH: 50%; IS PREFERRED
*/ 
  background-color: #d4b805;
 }

p {
  font-size: 1em;
  /*
  RELATIVE TO TO EM WHICH IS HTML
  */
  text-align: justify;
  margin: 0 auto;
  padding: 1.5rem;

  /* font-size: 2em; */
  /* 
  - HERE EM IS RELATIVE TO FONT_SIZE IN PARENT ELEMENT WHICH IS MAIN, IF FONT-SIZE IN MAIN IS SPECIFIED, THEN SIZE WILL CHANGE ACCORDING TO THE FONT-SIZE IN MAIN.
  - IF NOT, ANCESTORS OF MAIN WHICH ARE BODY AND HTML WILL AFFECT THE FONT-SIZE OF P
  */
  width: 40ch;
  /* 
  THIS SETS THE WIDTH TO TAKE UP APPROXIMATELY 40 CHARACTERS EACH LINE
  */
  
}




