@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.columns {
  /* column-count: 4; */
  /* column-width: 250px; */
  /* SHORTHAND */
  columns: 5 250px;
  column-rule: 3px solid #000;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
  break-inside: avoid;
}

.columns h2 {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  /* 
  BREAK-INSIDE: USED TO PREVENT A CONTAINER FROM BEING FRAGMENTED OR SPLIT WHEN IT BREAKS INTO COLUMNS OR PAGES. IT ENSURES THAT THE ENTIRE ELEMENT REMAINS INTACT WITHIN A SINGLE COLUMN OR PAGE.
   */
  break-inside: avoid;

  /* 
  BREAK-BEFORE: FORCES A BREAK BEFORE AN ELEMENT, STARTING IT AT THE TOP OF A NEW COLUMN.
  */
  /* break-before: column; */
}

.columns .quote {
  margin: 2rem 0;
  font-size: 3rem;
  background-color: #7fffd4;
  column-span:all;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}